@import './constants.css';

.button-theme {
  background-color: var(--theme-main-button);
}

.button-theme-light {
  background-color: var(--theme-main-light);
}

.button-theme-lighter {
  background-color: var(--theme-main-lighter);
}

.button-theme-dark {
  background-color: var(--theme-main-dark);
}

.button-theme-round {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background: var(--theme-main-button);
}

.button-theme-long {
  width: 6rem;
  height: 2.4rem;
  border-radius: 1rem;
}

.button-unstyled {
  border: none;
}

.button-unstyled:focus {
  outline: none;
}

.button-header-add {
  margin-left: 1rem;
  color: var(--theme-main-lighter);
  border-radius: 1rem;
  font-size: 1rem;
}

.button-exercise-card-add {
  font-size: 1.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 100%;
  background: var(--theme-main-light);
}

.button-exercise-card-add i {
  color: var(--theme-main-lighter);
}

.button-dark {
  background: var(--theme-main-dark);
  color: var(--theme-main-lighter);
}