:root {
  --theme-main-background-dark: #F2EAF0;
  --theme-main-background-light: #F2F0E6;
  --theme-main-button: #810D9E;
  --loader-color-dark: white;
  --loader-color-light: black;
  --theme-border: #D9DEE2;
}