@import './constants.css';

.exercise-card {
  height: 60px;
  border: 1px solid var(--theme-border);
  margin: 0.5rem;
  border-radius: 1rem;
  background: var(--theme-main-background-dark);
}

.exercise-card-left {
  width: 80%;
}

.exercise-card-left span {
  width: 100%;
  text-align: left;
}

.exercise-card-right {
  width: 20%;
  text-align: right;
}

.exercise-data-week {
  border: 1px solid var(--theme-border);
  border-radius: 0.75rem;
}

.exercise-data-week-header {
  height: 100%;
  font-size: 0.75rem;
  color: grey;
  border: 1px solid var(--theme-border);
  border-radius: 0.5rem;
}

.exercise-data-square {
  background: var(--theme-main-background-dark);
  border-radius: 0.5rem;
  font-size: 0.75rem;
  border: 1px solid var(--theme-border);
}

.exercise-data-square-header {
  border-bottom: 1px solid var(--theme-border);
}