@import './constants.css';

.modal {
  background: rgba(0, 0, 0, 0.75);
  z-index: 100000 !important;
}

.modal-button {
  position: fixed;
  top: auto;
  right: auto;
  left: auto;
  bottom: 0;
  width: calc(100vw - 16px);
}

.modal-body {
  padding: 1rem;
}

.modal-content {
  border-radius: 1rem;
}